/* Custom Settings Here */

$font-family-sans-serif: 'Noto Sans TC', sans-serif;

$red: #e35d6a;
$orange: #fd9843;
$yellow: #ffcd39;
$green: #4dd4ac;
$blue: #3d8bfd;
$purple: #a98eda;

$primary: $green;

// $card-columns-count: 2;
// $card-spacer-y: 1.5rem;
// $card-columns-gap: 1.5rem;
// $card-border-width: 0;

$modal-header-border-width: 0;
$modal-fade-transform: none;
$modal-backdrop-opacity: 0.7;

$link-decoration: underline;

$container-max-widths: (
  sm: 540px,
  md: 670px,
  lg: 800px,
);

$input-btn-focus-box-shadow: initial;
$b-sidebar-width: 100%;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap-vue/src/variables';

$zindex-overlay: calc($zindex-tooltip + 10);
$link-color: $body-color;

$mobile-breakpoint: 'md';

:export {
  mobileBreakpoint: unquote($mobile-breakpoint);
  zIndexOverlay: $zindex-overlay;
}
