/* Custom Settings Here */

$font-family-sans-serif: 'Noto Sans TC', sans-serif;

$blue: #0a58ca;

$card-columns-count: 2;
$card-spacer-y: 1.5rem;
$card-columns-gap: 1.5rem;
$card-border-width: 0;

$modal-header-border-width: 0;
$modal-fade-transform: none;
$modal-backdrop-opacity: 0.7;

$link-decoration: underline;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  //   lg: 960px,
  lg: 768px,
  //   xl: 1140px
  xl: 800px,
);

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap-vue/src/variables';

$zindex-overlay: calc($zindex-tooltip + 10);
$link-color: $body-color;

$mobile-breakpoint: 'md';

:export {
  mobileBreakpoint: unquote($mobile-breakpoint);
  zIndexOverlay: $zindex-overlay;
}
