/* Custom Settings Here */
// $font-family-sans-serif: 'Noto Sans TC', sans-serif;

$red: #e35d6a;
$orange: #fd9843;
$yellow: #ffcd39;
$green: #4dd4ac;
$blue: #3d8bfd;
$purple: #a98eda;

$primary: $green;

$modal-header-border-width: 0;
$modal-fade-transform: none;
$modal-backdrop-opacity: 0.7;

$link-decoration: underline;

$container-max-widths: (
  sm: 640px,
  lg: 800px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  lg: 992px,
);

$input-btn-focus-box-shadow: initial;

$enable-smooth-scroll: false;

// Configuration
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/variables-dark';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);

$link-color: $body-color;
$link-color-dark: $body-color-dark;

$mobile-breakpoint: 'sm';

:export {
  gridColumns: $grid-columns;
  mobileBreakpoint: unquote($mobile-breakpoint);
  containerMaxWidthsKeys: map-keys($container-max-widths);
  containerMaxWidthsValues: map-values($container-max-widths);
  gridBreakpointsKeys: map-keys($grid-breakpoints);
  gridBreakpointsValues: map-values($grid-breakpoints);
}
