@import 'custom.module';

:export {
  gridColumns: $grid-columns;
  mobileBreakpoint: unquote($mobile-breakpoint);
  containerMaxWidthsKeys: map-keys($container-max-widths);
  containerMaxWidthsValues: map-values($container-max-widths);
  gridBreakpointsKeys: map-keys($grid-breakpoints);
  gridBreakpointsValues: map-values($grid-breakpoints);
}
